@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.app-dark, .app-dark *));
@import "primeicons/primeicons.css";

:root {
  --background-main: #fafaf8;
  --background-main-inverse: var(--p-zinc-900);
  --light-text: var(--p-zinc-600);
  --easy: #22c55e;
  --easy-bg: rgba(34, 197, 94, 0.12);
  --medium: #f59e0b;
  --medium-bg: rgba(245, 158, 11, 0.12);
  --hard: #ef4444;
  --hard-bg: rgba(239, 68, 68, 0.12);
}

:root[class="app-dark"] {
  --background-main: var(--p-zinc-900);
  --background-main-inverse: #fafaf8;
  --light-text: var(--p-zinc-300);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--background-main);
}

.font-jetbrains-mono {
  font-family: "JetBrains Mono", sans-serif;
}

.font-cormorant-garamond {
  font-family: "Cormorant Garamond", sans-serif;
}

.bg-easy {
  background-color: var(--easy-bg);
}

.bg-medium {
  background-color: var(--medium-bg);
}

.bg-hard {
  background-color: var(--hard-bg);
}

.text-easy {
  color: var(--easy);
}

.text-medium {
  color: var(--medium);
}

.text-hard {
  color: var(--hard);
}

.text-light {
  color: var(--light-text);
}

.bg-primary {
  background-color: var(--p-primary-color);
}

.bg-mycard {
  background-color: var(--p-content-card-background) !important;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.p-toast-message-icon {
  width: 12px !important;
  height: 12px !important;
}

.p-toast-summary {
  font-size: 0.9rem !important;
}

.p-toast-detail {
  font-size: 0.785rem !important;
}
